{% extends 'homepage.html' %}
{% load static %}
{% block title %} <title> Adding a new Reservation</title>{% endblock %}
{% block content %}

<div class="container">
    <form method="POST" action="/new_reservation" > {% csrf_token %} 
    <h3 class="text-center">Please Fill the reservation form</h3>
    <hr style="height:2px;border-width:0;color:gray;background-color:gray">
    <br>
    <div class="row">
        <div class="col-md-4">
           <label class="form-label">Enter Customer ID</label>
        </div>
        <div class="col-md-8">
            <input type="text" class="form-control" placeholder="Enter Customer ID" id="rcID" name="rcID" >
         </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4">
           <label  class="form-label">Enter Vehicle Id</label>
        </div>
        <div class="col-md-8">
            <input type="text" class="form-control" placeholder="Enter VIN number" id="rvID" name="rvID" >
         </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4">
           <label class="form-label">Enter Start Date</label>
        </div>
        <div class="col-md-8">
            <input type="text" class="form-control" placeholder="mm/dd/yyyy" id="rSd" name="rSd" >
         </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4">
           <label class="form-label">Enter Order Date</label>
        </div>
        <div class="col-md-8">
            <input type="text" class="form-control" placeholder="mm/dd/yyyy" id="rOd" name="rOd" >
         </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4">
           <label class="form-label">Enter Rental Type</label>
        </div>
        <div class="col-md-8">
            <input type="text" class="form-control" placeholder="1 for Daily, 7 for Weekly" id="rType" name="rType" >
         </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4">
           <label  class="form-label">Enter Quantity</label>
        </div>
        <div class="col-md-8">
            <input type="text" class="form-control" placeholder="Enter Quantity" id="rQty" name="rQty" >
         </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4">
           <label class="form-label">Enter Return Date </label>
        </div>
        <div class="col-md-8">
            <input type="text" class="form-control" placeholder="mm/dd/yyyy" id="rRd" name="rRd" >
         </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4">
           <label class="form-label">Do you want to make a payment?</label>
        </div>
        <div class="col-md-8">
            <div class="checkbox">
                <label><input type="checkbox" name="Paynow"><strong>Pay now.</strong></label>
              </div>
         </div>
    </div>
    <br>
     <button type="submit" class="btn" style="margin: auto; display:block;">Submit Rental</button>
    
</form>
    
</div>

{% endblock %}
